/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .submit {
	display: none;
}


/* TagCloud */
.tagcloud{
	overflow:auto;
	padding:10px;
	padding-left:0px;
	padding-top:0px;
	margin-top:-5px;
}

.tagcloud a, a.button { 	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 8px 13px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin:5px;
	margin-right:0px;
	color:white!important;
	background-color:#555555;
}

.tagcloud a:hover, a.button:hover{
	background: #D0B431; 
	-webkit-transition: background-color 1s ease-in-out;
	-webkit-transition-duration: 0.4s;
	-moz-transition: background-color 1s ease-in-out;
	-moz-transition-duration: 0.4s;
	color:white;	
	-webkit-transition: color 1s ease-in-out;
	-webkit-transition-duration: 0.4s;
	-moz-transition: color 1s ease-in-out;
	-moz-transition-duration: 0.4s;
}

.tagcloud a:active, a.button:active  {
	color:white;
}

/* Advertisement */
.widget-advertisement:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

/* Dribbble */
.widget-dribbble:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

.widget-dribbble .dribbble-wrap {
	height: auto;
	margin: 0 0 20px;
	max-width: 100%;
}

.widget-dribbble .dribbble-link {
	background: none;
	border: 0;
	padding: 0;
	text-decoration: none;
}

.widget-dribbble .dribbble-link img {
	border: 0;
	box-shadow: 0 0 6px rgba(75,75,75,0.3);
	float: none;
	height: auto;
	margin: 0 0 5px;
	max-width: 100%;
	padding: 0;
}

.widget-dribbble .dribbble-title {
	background: none;
	border: 0;
	display: block;
	font-weight: 600;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: capitalize;
}

.widget-dribbble .dribbble-date {
	background: none;
	border: 0;
	display: block;
	font-size: 12px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Flickr */
.widget-flickr:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

.widget-flickr a {
	background: none;
	border: 0;
	box-shadow: 0 0 6px rgba(75,75,75,0.3);
	float: left; 
	margin: 0 10px 10px 0; 
	padding: 0;     	         
}
		
.widget-flickr img {
	float: left;
	height: 65px;
	width: 65px;    
}

/* List Authors */
.widget-list-authors li {
	background: none;
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}

.widget-list-authors li:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

.widget-list-authors .avatar {
	float: left;
	margin: 5px 15px 0 0;
}

.widget-list-authors .author-name,
.widget-list-authors .author-name:hover {
	display: block;
	text-decoration: none;
}

.widget-list-authors .author-url,
.widget-list-authors .author-url:hover {
	display: block;
	font-size: 11px;
	margin: 0.2em 0 0.3em;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
}

.widget-list-authors .post-count {
	display: block;
	font-size: 11px;
	overflow: hidden;
	text-transform: uppercase;
}
/* Recent Images */
.widget-recent-images:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

.widget-recent-images a {
	background: none;
	border: 0;
	float: left; 
	margin: 0 10px 10px 0; 
	padding: 0;     	         
}
		
.widget-recent-images img {
	box-shadow: 0 0 6px rgba(75,75,75,0.3);
	float: left;
	height: 65px;
	width: 65px;    
}


/* Social Media */
#socialmediawidget {
	margin-left:0px;
	margin-right:-30px;
	overflow:auto;
	color:white;
	margin-top:0px;
}

.socialicon{
	width:44px;
	height:44px;
	text-align:center;
	line-height:44px;
	float:left;
	display:block;
	margin-right:5px;
	margin-bottom:5px;
}

#socialmediawidget .fa-dribbble{
	background-color:#C5376D;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-dropbox{
	background-color:#3482E1;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-facebook{
	background-color:#3F5C9A;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-flickr{
	background-color:#FC0080;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-foursquare{
	background-color:#1DAFEC;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-github{
	background-color:#2B2B2B;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-google-plus{
	background-color:#BB3627;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-instagram{
	background-color:#905F4C;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-linkedin{
	background-color:#1985BC;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-pinterest{
	background-color:#CC2027;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-skype{
	background-color:#7FBA00;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-twitter{
	background-color:#00B0ED;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-youtube{
	background-color:#CC181E;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}
#socialmediawidget .fa-rss{
	background-color:#FA5800;
	display:block;
	width:44px;
	height:44px;
	line-height:44px;
}

